"""
API Router configuration for {{ project_name }} project.

Examples:
    from fastapi import APIRouter
    from app import views

    root_router = APIRouter()
    root_router.include_router(views.router, tags=["demo"])
"""
from fastapi import APIRouter

root_router = APIRouter()
