from appboot.apps import BaseAppConfig


class {{ camel_case_app_name }}Config(BaseAppConfig):
    name: str = '{{ app_name }}'

    class Config:
        env_prefix = '{{ app_name }}_'


config = {{ camel_case_app_name }}Config()
